.app {
  font-family: 'roboto';
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

body {
  font-family: 'roboto';
}

.roboto-font {
  font-family: 'roboto' !important;
}

.roboto-font > span {
  font-family: 'roboto' !important;
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #2978b5;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 5em;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover,
.btn--outline:focus {
  color: var(--clr-bg);
}

.btn--outline:before {
  content: '';
  position: absolute;
  background-color: var(--clr-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover:before,
.btn--outline:focus:before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

.metaview-content {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}

.metaview-box {
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  background-color: #aaaaaa !important;
  border-radius: 10px;
}

.metaview-head {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.metaview-close {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.menu-item {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.global-font {
  font-size: 14px !important;
  font-family: roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
}

.teal {
  background: #008080 !important;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex !important;
}

.small-font-size {
  font-size: 16px !important;
}

.css-1for1q8-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: none !important;
}

.css-1for1q8-MuiInputBase-root-MuiFilledInput-root::before {
  border-bottom: none !important;
}

.css-yadfaa-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: none !important;
}

.css-yadfaa-MuiInputBase-root-MuiFilledInput-root::before {
  border-bottom: none !important;
}

.submit-btn {
  width: 160px !important;
  font-size: 18px !important;
  border-radius: 0px !important;
  height: 45px !important;
}

.assist-root {
  width: 100% !important;
  margin-bottom: 30px
}

.full-width {
  width: 100% !important;
}

.func-box {
  display: flex !important;
  justify-content: space-between;
  width: 100% !important;
  align-items: center
}

.category-root {
  margin: 0px !important
}

.upload-box {
  border: 1px solid #CAD2E0 !important;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  background: #F3F4F9;
  padding-left: 10px;
  padding-right: 10px;
}

.upload-letter {
  display: flex; 
  justify-content: center;
  font-size: 14px !important;
  font-family: roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
}

.upload-no-select {
  font-weight: 200;
  font-size: 12px !important;
  font-family: roboto !important;
  font-style: normal !important;
}

.password-box {
  display: flex;
}

.visibility1 {
  z-index: 9;
  background: transparent !important;
}

.visibility2 {
  z-index: 9;
  background: transparent !important;
}

.visibility-box {
  position: absolute;
  margin-top: 20px;
  right: 10px !important;
  background-color: white !important
}

.cursor-icon {
  cursor: pointer;
  background: transparent !important;
  font-size: 16px !important;
  margin-left: 5px !important
}

.tooltip {
  cursor: pointer;
}

.pwdinput {
  background-color: white !important;
}

.pagination {
  width: 100% !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-family: roboto !important;
  font-style: normal !important;
}

.signin-box {
  background-color: ffffff !important;
  background: transparent !important;
}

@media (max-width: 600px) {
  .section {
    margin-top: 4em;
  }
}
